.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.country-select .flag {
  height: 20px !important;
  width: 20px;
  border-radius: 50%;
  background-position-y: bottom !important;
}

.country-select.inside input {
  padding-top: 8px;
}

.country-select .country-list {
  margin-left: -120px !important;
  width: 450px ;
}

.cMFuDJ {
  display: block !important;
  max-width: 590px !important;
  padding: 120px 100px !important;
}

.web3modal-provider-wrapper {
  display: block !important;
  width: 100 !important
}

@media screen and (max-width: 390px) {
  .cMFuDJ {
    padding: 80px 40px !important;
  }

}

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #ffffff;
}

/* Toggle B */
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #ffffff;
}

.hKhOIm {
  padding: 0;
  justify-content: space-between;
  flex-direction: row;
}

.eCZoDi {
  display: none;
}

.gHoDBx {
  text-align: left;
  padding-left: 10px;
  font-size: 16px;
  color: #303C4F;
  margin-top: 0px;
}

.bElhDP {
  padding: 16px;
}

.fqonLZ img {
  width: 30px;
  height: fit-content;
}

@property --p{
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

#chart-1 {
  position: absolute;
  --p:50;--c:#6823D0;--b:30px;
  z-index:20;
}
#chart-2 {
  position: absolute;
  --p:70;--c:#C3A7EC;--b:20px;
  z-index:10;
}
#chart-3 {
  position: absolute;
  --p:100;--c:#F6F6F6;--b:20px
}

.pie {
  --p:20;
  --b:22px;
  --c:darkred;
  --w:150px;
  
  width:var(--w);
  aspect-ratio:1;
  position:relative;
  display:inline-grid;
  margin:5px;
  place-content:center;
  font-size:18px;
  font-weight:bold;
  font-family:sans-serif;
}
.pie:before,
.pie:after {
  content:"";
  position:absolute;
  border-radius:50%;
}
.pie:before {
  inset:0;
  background:
    radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie:after {
  inset:calc(50% - var(--b)/2);
  background:var(--c);
  transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}
.animate {
  animation:p 1s .5s both;
}
.no-round:before {
  background-size:0 0,auto;
}
.no-round:after {
  content:none;
}
@keyframes p {
  from{--p:0}
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #83d225 !important;
}

.country-selector button {
  border: none;
}